<?xml version='1.0' encoding='utf-8'?>
<widget id="com.elpop.iptv.pro4" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IPTV Elpop Pro 4</name>
    <description>Professional IPTV Player</description>
    <author email="support@elpop.com" href="http://elpop.com">Elpop Developer</author>
    
    <content src="index.html" />
    
    <!-- السماح بكل النطاقات -->
    <access origin="*" />
    <allow-navigation href="*" />
    
    <!-- السماح بالـ intent للأندرويد (هام جداً للمشغل الخارجي) -->
    <allow-intent href="intent:*" />
    
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <!-- تجاوز مشاكل الملفات -->
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="android-manifest/application/@android:hardwareAccelerated" value="true" />
        <preference name="StatusBarBackgroundColor" value="#1a0b2e" />
        
        <!-- هذا الكود الجديد يجبر الأندرويد على تشغيل روابط HTTP العادية -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true" />
        </edit-config>
    </platform>

    <preference name="DisallowOverscroll" value="true" />
    <!-- الدوران: تلقائي -->
    <preference name="Orientation" value="default" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="#1a0b2e" />
    <preference name="LoadUrlTimeoutValue" value="70000" />
</widget>