<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iptv.elpop.pro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Iptv Elpop</name>
    <description>Professional IPTV Player</description>
    <author email="support@elpop.com" href="http://elpop.com">Elpop Developer</author>
    
    <content src="index.html" />
    <icon src="www/assets/icon.png" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="intent:*" />
    <allow-intent href="*" />
    
    <platform name="android">
        <resource-file src="build-extras.gradle" target="app/build-extras.gradle" />
        
        <icon src="www/assets/icon.png" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="android-manifest/application/@android:hardwareAccelerated" value="true" />
        <preference name="StatusBarBackgroundColor" value="#1a0b2e" />
        
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:hardwareAccelerated="true" android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true" />
        </edit-config>
    </platform>

    <plugin name="cordova-plugin-exoplayer" spec="https://github.com/mkalyon/cordova-plugin-mkExoplayer.git" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="default" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="#1a0b2e" />
    <preference name="LoadUrlTimeoutValue" value="70000" />
</widget>
