name: Build Android APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 1. تثبيت Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # 2. تثبيت الإضافات
      - name: Install Dependencies
        run: |
          npm install
          npm install @capacitor/assets --save-dev
          npm install cordova-plugin-brightness

        # 3. إعداد Capacitor
      - name: Initialize Capacitor Android
        run: |
          npx cap add android
          npx cap sync

      # 4. التأكد من وجود الصور وتوليد الأيقونات
      - name: Generate Icons & Splash
        run: |
          if [ -f "assets/icon.png" ]; then echo "Icon found"; else echo "Icon NOT found"; fi
          if [ -f "assets/splash.png" ]; then echo "Splash found"; else echo "Splash NOT found"; fi
          npx capacitor-assets generate --android

      

      # السماح بـ HTTP
      - name: Allow HTTP Traffic (Cleartext)
        run: |
          sed -i 's/<application/<application android:usesCleartextTraffic="true"/g' android/app/src/main/AndroidManifest.xml

      # 5. إعداد Java
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      # 6. بناء ملف APK
      - name: Build APK with Gradle
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      # 7. إعادة تسمية الملف لاسم مميز
      - name: Rename APK
        run: |
          mv android/app/build/outputs/apk/debug/app-debug.apk android/app/build/outputs/apk/debug/IPTV-Elpop.apk

      # 8. رفع الملف بالاسم الجديد
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: IPTV-Elpop
          path: android/app/build/outputs/apk/debug/IPTV-Elpop.apk
